@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
.name{
    font-family: 'Pacifico', cursive;
    font-size: 1.6em;
    padding-left: 1em;
    color: #551A8B !important;
}
.nav-bg{
    background-color: #fff;
}
.navbar-toggler {
    background-color: #551A8B;
    color: black !important;    
  }
  .navbar-toggler .icon{
      background-color: black !important;
  }